{% extends 'base.html'%}
{% block content %}
     <h1 class="text-center"> Leaderboards for {{ leaderboard.dataset.title }} </h1>
<br>

<header class ="container">
    <div class ='row'>
            <div class="col-lg-12">
                <h2 class="text-center"> Database</h2>
                <hr>
            </div>
    </div>
</header>

<section class="container">
<div class="row">
    <div class="col-lg-12">

            <table class="table table-bordered">

                {% for line in leaderboard.leaderboardline_set.all %}
                <tr>
                   <td> {{ line.rank }}</td>

                    <td> {{ line.submission.user.name }}</td>
                   <td> {{ line.submission.algorithm.title }}</td>
                   <td> {{ line.submission.benchmark.score }}</td>
                   <td> {{ line.submission.benchmark.accuracy }}</td>

                </tr>
                <br>
            {% endfor %}
        </table>

    </div>
</div>


</section>
{%endblock%}