# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\test\Dropbox\Mein PC (DESKTOP-KTI0G9K)\Documents\Informatik_Studium\Sommer Semester 6\Bachelorpraktikum IC Analysis\Django Mockup\ic_analysis_mockup\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
